<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1_1">
                        <img src="images/profile.png" width="156px" height="142px" alt="">
                    </div>
                    <div class="left_1_2"><%=user.name%></div>
                    <div class="left_1_3"><%=user.profession%></div>
                    <div class="left_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Youtube.svg" class="icon-1" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Twitter.svg" class="icon-1" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Linkeding.svg" class="icon-1" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Instagram.svg" class="icon-1" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Facebook.svg" class="icon-1" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Twitter.svg" class="icon-1" alt="" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>



                <div class="left_2">
                    <div class="left_2_1"><a href="" class="age">Age:</a>
                        <a href="" class="age2">25</a></div>
                    <div class="left_2_1"><a href="" class="residence">Residence:</a>
                        <a href="" class="residence2">S.Korea</a></div>
                    <div class="left_2_1"><a href="" class="freelance">Freelance:</a>
                        <a href="" class="freelance2">Available</a></div>
                    <div class="left_2_1"><a href="" class="address">Address:</a>
                        <a href="" class="address2">S.Korea, Seoul</a></div>
                </div>
                <div class="marginer"></div>



                <div class="left_3">
                    <div class="left_2_1"><a href="" class="language">Language</a></div>
                    <div class="left_2_1"><a href="" class="uzbek">Uzbek:</a>
                        <a href="" class="uzbek2">100%</a></div>
                    <div class="margine1"><img src="menu_icon/100.svg" alt=""></div>
                    <div class="left_2_1"><a href="" class="korean">Korean:</a>
                        <a href="" class="korean2">60%</a></div>
                    <div class="margine1"><img src="menu_icon/60.svg" alt=""></div>
                    <div class="left_2_1"><a href="" class="english">English:</a>
                        <a href="" class="english2">80%</a></div>
                    <div class="margine1"><img src="menu_icon/80.svg" alt=""></div>
                </div>
                <div class="marginer"></div>



                <div class="left_4">
                    <div>
                        <div class="left111"><a href="" class="ismoil1">Skills</a></div>
                        <div class="margine1"></div>
                        <div class="left111"><a href="" class="ismoil">Html</a></a>
                            <a href="" class="english6">80%</a></div>
                        <div class="margine1"><img src="menu_icon/80.svg" alt=""></div>
                        <div class="left111"><a href="" class="ismoil">CSS</a></a>
                            <a href="" class="english7">80%</a></div>
                        <div class="margine1"><img src="menu_icon/80.svg" alt=""></div>
                        <div class="left111"><a href="" class="ismoil">Js</a></a>
                            <a href="" class="english8">85%</a></div>
                        <div class="margine1"><img src="menu_icon/85.svg" alt=""></div>
                        <div class="left111"><a href="" class="ismoil">PHP</a></a>
                            <a href="" class="english9">90%</a></div>
                        <div class="margine1"><img src="menu_icon/90.svg" alt=""></div>
                        <div class="left111"><a href="" class="ismoil">WordPress</a></a>
                            <a href="" class="english0">80%</a></div>
                        <div class="margine1"><img src="menu_icon/80.svg" alt=""></div>
                    </div>

                </div>
                <div class="marginer"></div>
                <div class="left_5"><a href="" class="extra1"> Extra skills</a>
                    <br><img src="icon/Icons.png" width="15px" height="15px" alt=""> <a href="" class="extra">
                        Bootstrap, Materialize</a><br>
                    <img src="icon/Icons.png" width="15px" height="15px" alt=""> <a href="" class="extra"> Stylus, Sass,
                        Less</a><br>
                    <img src="icon/Icons.png" width="15px" height="15px" alt=""> <a href="" class="extra"> Gulp,
                        Webpack, Grunt</a><br>
                    <img src="icon/Icons.png" width="15px" height="15px" alt=""> <a href="" class="extra"> GIT,
                        Knowledge</a>
                </div>
                <div class="marginer"></div>
            </div>


            <div class="midd_frame">
                <div class="midd_top">
                    <div class="button"> <img src="images/buttonn.jpeg" width="154px" height="51px" alt=""></div>
                    <div class="yourimage1"> <img src="images/yourimage.png" width="326px" height="446px" alt=""></div>
                    <p class="work">IT Company Lorem ipsum
                        dolor sit amet consectetur.</p>
                    <p class="work2"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus earum quia
                        incidunt architecto quidem blanditiis sit iusto dolore delectus dicta!</p>
                    <p class="uy1"><img src="icon/1.svg" alt=""></p>
                    <p class="uy2"><img src="icon/2.svg" alt=""></p>
                    <p class="uy3"><img src="icon/3.svg" alt=""></p>
                    <p class="uy4"><img src="icon/4.svg" alt=""></p>
                    <p class="uy5"><img src="icon/5.svg" alt=""></p>
                    <p class="uy6"><img src="icon/6.svg" alt=""></p>
                    <p class="uy7"><img src="icon/7.svg" alt=""></p>
                </div>

                <div class="midd_bot">
                    <p class="workk">My Services</p>
                    <p class="workkk">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                        officia consequat duis enim velit mollit. lorem ipsum</p>
                    <div class="containerr">
                        <div class="box" id="box1">
                            <p><img src="box_images/coding.svg" alt=""></p>Web Development <p id="box11"> Blog,
                                E-Commerce</p>
                        </div>
                        <div class="box" id="box2">
                            <p><img src="box_images/illustration.svg" alt=""></p>UI/UX Design <p id="box11">Mobile app,
                                website design</p>
                        </div>
                        <div class="box" id="box3">
                            <p><img src="box_images/microphone.svg" alt=""></p>Sound Design<p id="box11">Voice Over,
                                Beat Making</p>
                        </div>
                        <div class="box" id="box4">
                            <p><img src="box_images/game.svg" alt=""></p>Game Design<p id="box11">Character Design,
                                Props & Objects</p>
                        </div>
                        <div class="box" id="box5">
                            <p><img src="box_images/photographer.svg" alt=""></p>Photography<p id="box11">Portrait,
                                Product Photography</p>
                        </div>
                        <div class="box" id="box6">Advertising <br>
                            <p id="box11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in
                                ac dictum a urna viverra morbi<p><img src="box_images/order.svg" alt=""></p>
                            </p>
                        </div>
                    </div>
                </div>

            </div> 
            <!-- right frame -->
            <div class="right_frame">
                <div class="icon11"><img src="btn_icon/Contrast.svg"></div>
                <div class="icon12"><img src="btn_icon/Home.svg"></div>
                <div class="icon13"><img src="btn_icon/3.svg"></div>
                <div class="icon14"><img src="btn_icon/4.svg"></div>
                <div class="icon15"><img src="btn_icon/5.svg"></div>
                <div class="icon16"><img src="btn_icon/Blog.png"></div>
                <div class="icon17"><img src="btn_icon/Contact.svg"></div>

            </div>
        </div>
    </div>

</body>

</html>
